.title-block {
	margin: auto;
	margin-bottom: 3px;
}

.my-name {
	background-image: url("/images/treeline.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom center;
	padding: 30px;
	padding-bottom: 50px;

	text-align: center;
}

.nav-menu {
	/*background-color: rgb(150, 190, 255);*/
	background-color: rgb(35, 33, 37);
	padding: 10px;

	text-align: center;
}

.section-block {
	padding: 10px;
	padding-top: 30px;

	width: 98.5%;
	/*height: 500px;*/
	overflow-y: auto;
}

.resume-container {
	width: 98.5%;

	padding-bottom: 5px;
	padding-left: 40px;
}

.section-text {
	margin-left: 25px;
	margin-right: 25px;

	font-size: 0.9em;
}

.header1 {
	font-size: 4em;
	font-weight: bold;

	color: white;

	margin-top: 0.67em;
	margin-bottom: 0em;

	text-shadow:
			-1px -1px 0 #000,
			1px -1px 0 #000,
			-1px 1px 0 #000,
			1px 1px 0 #000; 
}

.subheader {
	font-size: 2em;
	font-weight: bold;

	color: white;

	margin-top: 0em;
	margin-bottom: 1.33em;

	text-shadow:
			-1px -1px 0 #000,
			1px -1px 0 #000,
			-1px 1px 0 #000,
			1px 1px 0 #000; 
}

.header2 {
	font-size: 1.25em;
	font-weight: bold;
	margin-top: 0.3em;
	margin-bottom: 1.33em;
}

.header3 {
	font-size: 1.25em;
	font-weight: bold;
	margin-top: 1.33em;
	margin-bottom: 0.33em;
}

a:link, a:visited {
	background-color: #00FFFFFF;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a:hover, a:active {
	background-color: #00FFFFFF;
	color: white;
}

body {
	background-color: rgb(240, 240, 240);

	font-family: sans-serif;
	font-size: 16pt;
}

#about-me-img {
	float: left;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 10px;
}

#contact-me-img {
	display: block;
	width: 250;
	margin: auto;
}