<div class="section-block">
	<div>
		<img class="img-rounded" id="about-me-img" src="\images\me.png" width="300" alt="me">
	</div>
	<div class="section-text">
		<p class="header2" style="text-align: center;">ABOUT ME</p>
		<p>I have been programming ever since I was a freshman in high school. I had just beaten a video game I 
		was playing, and the credits displayed the Java programming language logo. I was curious, and after some 
		research, I ended the night writing my first "Hello World" program.
		<br /><br />After spending many years exclusively coding in Java, I decided to make the switch to the C 
		languages. I started off practicing C++ through making small ASCII video games. Soon after that, I found C# and have been coding in the .NET framework ever since.
		<br /><br />I am absolutely in love with rock climbing, and surrealist art. You can always find me near a mountain, on my computer, or at an art museum. I'm constantly trying to find ways to incorporate artistic inspiration into 
		my projects.</p>
	</div>
</div>
