<div class="section-block">
	<p class="header2" style="text-align: center;">WHY I CHOSE BOOTCAMP</p>
	<div class="section-text">
		<p>Due to my previous experience in programming and computer science, when I met my grandfather for 
		the first time, he offered me a job. The only thing I had to do, was go through a bootcamp that would 
		progress my skills in the areas that his work needed.
		<br /><br />After weeks of research, and reading about numerous coding bootcamps, I had picked one. MAX Technical Training. They had the .NET program that I needed to be in, while also having a fantastic track record for preparing students for the outside world.</p>
	</div>
</div>